/* Variables */
$taskbar-colors: (
	#294ca8,
	#3b86e5,
	#2259d5,
	#2562df,
	#1941a5
);

$start-button-colors: (
	default: (
		#407839,
		#8dbb8c,
		#369239,
		#3daa3b,
		#2e7044
	),
	hover: (
		#299423,
		#91d091,
		#51b251,
		#3cc33c,
		#2d9429
	),
	selected: (
		#2a642b,
		#2f802e,
		#188418,
		#1f951f,
		#257623
	)
);

$taskbar-status-colors: (
	#1296e4,
	#16acef,
	#1290e8,
	#0d9ff0,
	#1185df
);

/* Mixin for gradient backgrounds */
@mixin gradient-bg($colors) {
	background: linear-gradient(
		to bottom,
		nth($colors, 1) 2%,
		nth($colors, 2) 7%,
		nth($colors, 3) 20%,
		nth($colors, 4) 83%,
		nth($colors, 5) 100%
	) center/cover no-repeat;
}

/* Variables */
:root {
	--taskbar-1: map-get($taskbar-colors, 1);
	--taskbar-2: map-get($taskbar-colors, 2);
	--taskbar-3: map-get($taskbar-colors, 3);
	--taskbar-4: map-get($taskbar-colors, 4);
	--taskbar-5: map-get($taskbar-colors, 5);
}

body {
	margin: 0;
	height: 100vh;
	max-height: 100vh;
	width: 100vw;

	display: flex;
	flex-direction: column;
	font-family: Tahoma, 'Segoe UI', Geneva, Verdana, sans-serif;
	background: url('../svg/wave.svg') no-repeat center center fixed;
	background-size: cover;

	#desktop {
		flex: 1;
		width: 100%;
		user-select: none;

		#desktop-footer-zone {
			width: 100%;
			height: 100%;
			z-index: -9999;

			display: flex;
			justify-content: flex-end;
			align-items: flex-end;

			p {
				margin: 5px;
				width: fit-content;
				text-align: end;

				a {
					color: inherit;
					text-decoration: none;
				}
				a:hover {
					text-decoration: underline;
				}

				span {
					color: red;
				}
			}
		}
	}
	
	#taskbar {
		width: 100%;
		@include gradient-bg($taskbar-colors);
		color: white;
		box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
		user-select: none;

		display: flex;
		justify-content: space-between;
		align-items: stretch;
	
		#start-button {
			display: flex;
			align-items: center;
			justify-content: center;
			gap: 10px;

			padding: 5px;
			padding-left: 10px;
			padding-right: 25px;

			@include gradient-bg(map-get($start-button-colors, default));
			box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.6);
			border-radius: 0 10px 10px 0;
			outline: rgba(255, 255, 255, 0.1) 1px solid;

			cursor: pointer;
			
			img {
				height: 1.2em;
				filter: drop-shadow(1px 1px 1px #222);
			}

			span {
				font-size: 110%;
				font-style: italic;
				font-weight: bold;
				text-shadow: black 1px 1px 3px;
			}	
		}

		#start-button:hover {
			@include gradient-bg(map-get($start-button-colors, hover));
		
			img {
				animation: bounce 1s ease-in-out 0s infinite;
			}
		}
		@keyframes bounce {
			from {
				translate: 0 0;
			}
		
			25% {
				translate: 0 0.1em;
			}
		
			50% {
				translate: 0 -0.1em;
			}
		
			75% {
				translate: 0 0.1em;
			}
		
			100% {
				translate: 0 0;
			}
		}

		#start-button:active {
			@include gradient-bg(map-get($start-button-colors, selected));
			img {
				animation: none;
			}
		}

		#taskbar-status {
			display: flex;
			align-items: center;
			justify-content: center;
			gap: 10px;
		
			padding: 5px;
			padding-left: 15px;
			padding-right: 25px;

			@include gradient-bg($taskbar-status-colors);
			box-shadow: rgb(24, 187, 255) 1px 0px 1px inset;
			border-left: 1px solid rgb(16, 66, 175);

			font-size: 0.78em;


			#taskbar-status-icons {
				display: flex;
				margin-right: 5px;

				a {
					display: flex;

					img {
						max-height: 1.35em;
						object-fit: contain;
					}
				}

				a:hover {
					filter: invert(1) brightness(1.5);
				}
			}
		}
	}
}

.simple-text {
	font-family: 'Noto Sans', sans-serif;
	font-weight: 100;
	letter-spacing: -0.06em;
	font-size: 0.83em;
}

.white-text {
	color: white;
}

.shadow-text {
	text-shadow: rgba(0, 0, 0, 0.9) 1px 1px 1px;
}
